.popup__container {
  margin: 0;
  padding: 25px 22px;
  width: 100%;
  min-width: 282px;
  max-width: 430px;
  background-color: rgb(255, 255, 255);
  z-index: 0;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (min-width: 468px) {
  .popup__container {
    padding: 34px 36px 37px;
  }
}
